<div class="vh-100" style="background:url('/images/sky.jpg') repeat-y;">
	<h1 class="f-headline lh-solid helvetica mt0 tracked pointer"><a href="/" class="white no-underline hover-dark-red hover-bg-dark-red">blog</a></h1>
	
	<p class="white f2 lh-copy ph2 center">articles from the old nuxt instance will be ported shortly.</p>
</div>