<div class="vh-100" style="background:url('/images/sky.jpg') repeat-y;">
	<h1 class="f-headline lh-solid helvetica mt0 tracked pointer"><a href="/" class="white no-underline hover-dark-red hover-bg-dark-red">RYAN C. IRISH</a></h1>

	<h1 class="helvetica f-subheadline white hover-bg-navy"><a href="/about" class="white no-underline"> about </a></h1>
	<h1 class="helvetica f-subheadline white hover-bg-navy"><a href="/blog" class="white 
	no-underline"> blog </a></h1>
	<h1 class="helvetica f-subheadline white hover-bg-navy"><a href="mailto:me@ryanc.irish" class="white no-underline"> contact </a></h1>
</div>